body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 25px;
}

.calc {
    height: 100%;
}

.display {
    display: flex;
    border: 2px solid black;
    min-height: 40px;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    height: 80vh;
}

.button {
    display: flex;
    flex: 1 1 25%;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.button.sp {
    font-size: 30px;
    font-weight: bold;
    background-color: turquoise;
}

.button.eq {
    background-color: orange;
}

.button:hover {
    filter: brightness(85%);
}
